pre.themable {
  background: #18191a;
  border-radius: 6px;
  padding: 1rem;
  overflow-x: auto;
}

.remark {
  background: rgb(46, 39, 46);
  border-radius: 6px;
  padding: 0.8rem;
  margin: 1rem 0;
}
.remark.light { background: #9798a2; }
.remark > h3 { padding-top: 0; margin-top: .4rem; }
article > h3 { padding-top: 1em; }


li { padding: .3rem 0; }

pre.light { background: #bbb; }

.comment { color: #7c6f64; }
.string { color: #fe8019; }
.class { color: #458598; }
.keyword { color: #fb4934; }
.function { color: #55ab24; }
.literal { color: #d3869b; }
.operator { color: #73b598; }

.light.comment { color: #7c6f64; }
.light.string { color: #bf7503; }
.light.class { color: #054688; }
.light.keyword { color: #ad0806; }
.light.function { color: #25700e; }
.light.literal { color: #8f3f71; }
.light.operator { color: #656568; }
