pre.themable {
  background: #18191a;
  border-radius: 6px;
  padding: 1rem;
  overflow-x: auto;
}

.remark {
  background: rgb(46, 39, 46);
  border-radius: 6px;
  padding: 1rem;
}

pre.light { background: #aaa; }

.comment { color: #7c6f64; }
.comment.light { color: #765f54; }

.string { color: #fabd2f; }
.string.light { color: #c56614; }

.class { color: #fb4934; }
.class.light { color: #cc241d; }

.keyword { color: #b8bb26; }
.keyword.light { color: #98971a; }

.operator { color: #83a598; }
.operator.light { color: #458588; }

.function { color: #8ec07c; }
.function.light { color: #689d6a; }

.literal { color: #d3869b; }
.literal.light { color: #b16286; }
