pre.themable {
  background: #18191a;
  border-radius: 6px;
  padding: 1rem;
  overflow-x: auto;
}

.remark {
  background: rgb(46, 39, 46);
  border-radius: 6px;
  padding: 1rem;
}

pre.light { background: #aaa; }

.comment.light { color: #765f54; }
.string.light { color: #c56614; }
.class.light { color: #cc241d; }
.keyword.light { color: #98971a; }
.operator.light { color: #458588; }
.function.light { color: #689d6a; }
.literal.light { color: #b16286; }

.comment { color: #7c6f64; }
.string { color: #fe8019; }
.class { color: #458588; }
.keyword { color: #fb4934; }
/* .function { color: #98971a; } */
.function { color: #b8bb26; }
.literal { color: #d3869b; }
.operator { color: #83a598; }
/* .variable { color: #fe8019; } */
