a {
  position: relative; left: 0;
  text-align: center;
  width: 10rem;
  padding: 2rem 0;
  margin: 1rem;
  background: var(--accent);
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    --drawer-width: 85vw;
  }

  #content > article {
    width: 80vw;
  }
}
